@import './src/common/styles/mixin';


.tableContainer {
  @include flex(column, center, center, wrap);
  width: 100%;
  padding-bottom: 50px;

  .toolbarContainer {
    width: 70%;
    margin-bottom: 20px;
    box-sizing: border-box;

    .toolbar {
      @include flex(row, flex-start, center, wrap);
      width: 230px;
      border-radius: 5px;

      .icon {
        cursor: pointer;
      }
    }
  }

  .tableBlock {
    width: 70%;
  }
}