.loginContainer {
  display: flex;
  justify-content: center;
  width: 100%;

  .paper {
    padding: 50px;

    .title {
      text-align: center;
    }

    .button {
      width: 100%;
      margin-top: 20px;
    }
  }
}